*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================ NAV START====================== */
nav{
    background: rgb(255, 255, 255);
    height: 100px;
}
a{
    display: inline-block;
}
nav .container{
    
    width: 1400px;
    margin: auto auto;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
nav .container .logo{
    width: 20%;
    padding: 20px;

}
nav .container .logo img{
    height: 40px;
}
nav .container .menu{
    width: 60%;
}
nav .container .menu ul{
    display: flex;
   justify-content: space-evenly;
   z-index: 1;
}
nav .container .menu ul li{
    list-style-type: none;
    position: relative;
}
nav .container .menu ul li ul{
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
nav .container .menu ul li ul li ul{
    left: 100%;
    top: 0;
   
}
nav .container .menu ul li ul li a{
    border-radius: 0;
}


nav .container .menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;

}
nav .container .menu ul li ul li a{
    width: 100%;
}


nav .container .menu ul li a{
    padding: 30px;
    border-radius: 10px;
    background: rgb(255, 252, 253);
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    transition: .4s;
}
nav .container .menu ul li:hover > a {
    color: white;
    background: black;
}
nav .container .btn{
    width: 20%;
}
nav .container .btn a{
    text-decoration: None;
    color: black;
    background: rgb(245, 232, 221);
    padding: 20px 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-radius: 5px;
    transition: .3s;
}
nav .container .btn a:hover{
    color: white;
    background: black;
}
/*====================== END ======================*/
/* ======================Banner Start========================== */
#banner{
    width: 1400px;
    margin: auto auto;

    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: space-between;

}
#banner::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, );
    z-index: -2;
}
#banner .texts h1{
    font-size: 70px;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(40, 40, 40);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#banner .texts h4{
    font-size: 18px;
    margin-left: 20px;
    color: rgb(40, 40, 40);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#banner .img-ban img{
    width: 800px;
    border-radius: 20px;
}
#banner .texts a{
    text-decoration: none;
    background: rgb(40, 40, 40);
    color: white;
    padding: 20px 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: .4s;
}


/* =====================Banner End========================= */
/* ==========================Form Start============================== */
#form-sec{
    width:1400px ;
    margin: 100px auto;
    height: 600px;
    background: url(bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#form-sec .form-container{
    display: flex;
    flex-direction: column;
}
#form-sec .form-container img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
#form-sec .form-container p{
    width: 700px;
    margin:  auto;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgb(40, 40, 40);
}
#form-sec .form-container h1{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgb(40, 40, 40);
}
#form-sec .form-container form{
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 30px;
}
#form-sec .form-container form h1{
    margin-bottom: 10px;
}
#form-sec .form-container form input{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin: 3px 0;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: transparent;
    backdrop-filter: blur(5px);
}


#form-sec .form-container form textarea{
    width: 350px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#form-sec .form-container form button{
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-transition: .4s;

}
#form-sec .form-container form button:hover{
    background: black;
    color: white;
}
/* ==================Form End====================== */
/* ======================Bottom Start========================== */

#bottom{
    white-space: 1400px;

    margin: auto auto;
}
#bottom .bg{
    width: 1200px;
    background: white;
    margin: auto auto;
}
#bottom .bg h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    margin-left: 55px;
    margin-top: 60px;
}
#bottom .bg .block{
    width: 1100px;
    height: 400px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;


}
#bottom .bg .block1{
    width: 25%;
    height: 250px ;
    border-radius: 5px;
    outline: none;
    position: relative;
}
#bottom .bg .block1:hover{
    border: 1px solid grey;
}

#bottom .bg .block1 h5{
    margin: 50px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: rgb(107, 107, 107);
}
#bottom .bg .block1 a{
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 17px;
    color: black;
    margin-left: 20px;
}

#bottom .bg .block1 .b1{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 4%;
}
#bottom .bg .block1 .b1 p {
    position: absolute;
    top: 15%;
    left: 8%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
#bottom .bg .block1 .b1 h4{
    position: absolute;
    right: 3%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: orangered;
}
#bottom .bg .block1 .b1::after{
    content: "";
    height: 100%;
    width: 3%;
    background: orangered;
    position: absolute;
    border-radius: 5px;
}


#bottom .bg .block2{
    width: 25%;
    height: 250px ;
    border-radius: 5px;
    position: relative;
}
#bottom .bg .block2:hover{
    border: 1px solid grey;
}
#bottom .bg .block2 .b2{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 4%;
}
#bottom .bg .block2 .b2 p {
    position: absolute;
    top: 15%;
    left: 8%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#bottom .bg .block2 .b2 h4{
    position: absolute;
    right: 3%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: orangered;
}
#bottom .bg .block2 .b2::after{
    content: "";
    height: 100%;
    width: 3%;
    background: orangered;
    position: absolute;
    border-radius: 5px;
}
#bottom .bg .block2 h5{
    margin: 50px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: rgb(107, 107, 107);
}
#bottom .bg .block2 a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: black;
    margin-top: 15px;
    margin-left: 20px;
}

#bottom .bg .block3{
    width: 25%;
    height: 250px ;
    border-radius: 5px;
    position: relative;
}
#bottom .bg .block3:hover{
    border: 1px solid grey;
}
#bottom .bg .block3 .b3{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 4%;
}
#bottom .bg .block3 .b3 p {
    position: absolute;
    top: 15%;
    left: 8%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#bottom .bg .block3 .b3 h4{
    position: absolute;
    right: 3%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: orangered;
}
#bottom .bg .block3 .b3::after{
    content: "";
    height: 100%;
    width: 3%;
    background: orangered;
    position: absolute;
    border-radius: 5px;
}
#bottom .bg .block3 h5{
    margin: 50px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: rgb(107, 107, 107);
}
#bottom .bg .block3 a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: black;
    margin-left: 20px;
}



/* ==========================Bottom End==============================  */
/* ===============================Cart Start===================================== */
#cart{
    width: 1400px;
    height: 1000px;
    background: lightpink;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart .cart-container{
    width: 80%;
    height: 60%;
    background: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#cart .cart-container .child {
    width: 23%;
    height: 350px;
    background: white;
    transition: .4s;
}
#cart .cart-container .child:hover{
    background: rgb(63, 0, 191);
    width: 25%;
    height: 360px;
}


/* ===================================Cart End================================= */


